// css di bootstrap
@import "~bootstrap/scss/bootstrap";

// importo file reset.scss
@import "_partials/variables.scss";

//scss
.ec-nav-link {
    color: $text-color;
    border-bottom: 3px solid $white;
    padding: 45px 0;

    &:hover {
        color: $primary-color;
        
        border-bottom: 3px solid $primary-color;
    }
}

#top-nav {
    background-color: $primary-color;
    
    #info {
        text-align: end;
        a {
            all: unset;
            color: $white;
            cursor: pointer;
        }
    }
}

#jumbotron {
    background-image: url("../img/jumbotron.jpg");
    height: 400px;
    background-size: cover;
}

.ec-img {
    height: 180px;
    object-fit: cover;
}

#ec-top-footer {
    background-image: url('../img/footer-bg.jpg');
    height: 400px;
    .ec-img-footer {
        width: 400px;
        object-fit: cover;
    }
}