/******************************************
utilities
*******************************************/

.text-primary {
    color: $primary-color;
}

.bg-primary {
    background-color: $primary-color;
}

.ec-border-primary {
    border: 3px solid $primary-color;
}